 /* Universal box sizing */
 * {
    box-sizing: border-box;
}
/* Set the size of the body */
body {
  width: 98%;
}
/* Background image */
.box {
    background-image: url(./Assignment2/Haukai/styles/);
    padding: 100px;
    margin: 100px;
}

/* Style the header */
.header {
    background-color:rgb(245, 249, 245);
    font-style: italic;
    font-size: 3vw;
    text-align: center;
    padding: 0.5vw;
}
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: rgb(134, 132, 137);
    font-style: normal;
    font-size: 2vw;
    text-align: center;
}
/* Style the topnav links */
.topnav a {
    float: right;
    display: block;
    color: white;
    font-style: oblique;
    text-align: center;
    padding: 2vw 1vw;
}
/* Create two equal columns that float next to each other */
.column {
    float: left;
    width: 50%;
    padding: 15px;
    background-color: rgb(159, 159, 129);
    font-size: 2vw;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Responsive layout - makes the two columns stack on top of each other iso next to each other */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}
.footer {
    background-color: rgb(48, 48, 46);
    text-align: left;
    padding: 0.1vw;
    font-size: 1vw;
    font-style: italic;
    color: azure;
}